<mat-card style="margin-top: 10px; margin-left: 100px; width: 90%; ">
  <mat-toolbar color="primary" style="margin-top: 10px; width: 100%; ">Usuarios Inativos</mat-toolbar>
  <mat-table [dataSource]="usuariosInativos" class="mat-elevation-z8">

    <!-- Coluna de nome -->
    <ng-container matColumnDef="username">
      <mat-header-cell class="column-header-nome" *matHeaderCellDef>Usuário</mat-header-cell>
      <mat-cell *matCellDef="let usuario" class="column-nome"> {{ usuario.username }}</mat-cell>
    </ng-container>

    <!-- Coluna de nome de Guerra -->
    <ng-container matColumnDef="role">
      <mat-header-cell class="column-header-nomeGuerra" *matHeaderCellDef>Tipo de acesso</mat-header-cell>
      <mat-cell mat-cell *matCellDef="let usuario" class="column-nomeGuerra"> {{ usuario.role }} </mat-cell>
    </ng-container>

    <!-- Coluna de assessoria -->
    <ng-container matColumnDef="liberado">
      <mat-header-cell class="column-header-asse" *matHeaderCellDef>Status</mat-header-cell>
      <mat-cell mat-cell *matCellDef="let usuario" class="column-asse"> {{ usuario.liberado }}</mat-cell>
    </ng-container>

    <!-- Coluna de ações -->
    <ng-container matColumnDef="acoes">
      <mat-header-cell *matHeaderCellDef class="action-column-header">
        <button class="buton-add" (click)="onAdd()" mat-icon-button color="primary" aria-label="Adicionar uma usuario">
          <mat-icon>add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let usuario" class="action-column">
        <button (click)="reativarUsuario(usuario._id)" mat-icon-button color="primary" aria-label="Editar uma usuario">
          <mat-icon>done_outline</mat-icon>
        </button>

        <!-- <button (click)="onDelete(usuario)" mat-icon-button color="warn" aria-label="Remover usuario">
          <mat-icon>delete</mat-icon>
        </button> -->
      </mat-cell>

    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <!-- Paginação -->
  <mat-paginator
    [pageSizeOptions]="[5, 10, 15]"
    showFirstLastButtons
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    [length]="totalElements"
    (page)="refresh($event)">
  </mat-paginator>
</mat-card>
