<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>Senha Atual</mat-label>
      <input matInput type="password" formControlName="senhaAtual">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Nova Senha</mat-label>
      <input matInput type="password" formControlName="novaSenha">
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onClose()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="onChangePassword()" [disabled]="form.invalid">
    Alterar
  </button>
</mat-dialog-actions>

