<h2>Agendar para {{ data.date.toLocaleString() }}</h2>
<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Hora Início</mat-label>
      <input matInput type="time" formControlName="horaInicio">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Hora Fim</mat-label>
      <input matInput type="time" formControlName="horaFim">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Solicitante</mat-label>
      <mat-select formControlName="pessoa">
        <mat-option *ngFor="let pessoa of pessoas" [value]="pessoa._id">
          {{ pessoa.postoGraduacao}} - {{ pessoa.nomeGuerra }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Acessórios</mat-label>
      <mat-select formControlName="acessorios" multiple (selectionChange)="onAcessoriosChange($event)">
        <mat-option *ngFor="let acessorio of acessorios" [value]="acessorio.viewValue"> <!-- valor correto -->
          {{ acessorio.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Audiência</mat-label>
      <input matInput type="text" formControlName="audiencia">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Evento</mat-label>
      <input matInput type="text" formControlName="evento">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Diex n°</mat-label>
      <input matInput type="text" formControlName="diex">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Militar de ligação</mat-label>
      <input matInput type="text" formControlName="militarLigacao">
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions class="buttons">
  <button mat-raised-button color="primary" (click)="onSubmit()">Agendar</button>
  <button mat-raised-button (click)="dialogRef.close()">Cancelar</button>
</mat-dialog-actions>

