<h2>Agendar para {{ data.date.toLocaleString() }}</h2>
<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Hora Início</mat-label>
      <input matInput type="time" formControlName="horaInicio">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Hora Fim</mat-label>
      <input matInput type="time" formControlName="horaFim">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Solicitante</mat-label>
      <mat-select formControlName="pessoa">
        <!-- Populate with persons -->
        <mat-option *ngFor="let pessoa of pessoas" [value]="pessoa">{{ pessoa.postoGraduacao}} - {{ pessoa.nomeGuerra }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Acessórios</mat-label>
      <mat-select formControlName="acessorios" multiple>
        <!-- Populate with items -->
        <mat-option *ngFor="let acessorio of acessorios" [value]="acessorio">{{ acessorio.viewValue }}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="buttons">
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!form.valid">Agendar</button>
  <button mat-raised-button (click)="dialogRef.close()">Cancelar</button>
</mat-dialog-actions>

