<mat-card>
  <mat-toolbar color="primary">Ramais do DECEx

    <div color="primary" class="input-pesquisa">


      <mat-form-field class="input-pesquisa-pessoa">
        <mat-label>Pesquise pelo Nome de guerra</mat-label>
        <mat-select (selectionChange)="onSearchTermChange($event.value)">
          <mat-option [value]="">
            Nenhum
          </mat-option>
          @for (pessoa of pessoas; track pessoa) {
            <mat-option [value]="pessoa.nomeGuerra">
              {{ pessoa.postoGraduacao}} - {{ pessoa.nomeGuerra }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field class="input-pesquisa-assessoria">
        <mat-label>Pesquise pela Assessoria</mat-label>
        <mat-select (selectionChange)="onSearchTermChange($event.value)">
          <mat-option [value]="">
            Nenhum
          </mat-option>
          @for (assessoria of assessorias; track assessoria) {
            <mat-option [value]="assessoria.sigla">
              {{ assessoria.sigla }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>

    </div>

  </mat-toolbar>

  <div class="mat-elevation-z8">
      @if (pessoas$ | async; as pessoas) {
      <app-pessoas-lista
        [pessoas]="pessoas.pessoas"
        (add)="onAdd()"
        (edit)="onEdit($event)"
        (delete)="onRemove($event)"
      ></app-pessoas-lista>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 15]"
        showFirstLastButtons
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [length]="pessoas.totalElements"
        (page)="refresh($event)"
        aria-label="Selecione a página de pessoas">
      </mat-paginator>


  } @else {
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  }

  <ng-template #loading>
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>
</mat-card>
