<mat-card>
  <mat-toolbar color="primary">Cadastrar ou atualizar uma Pessoa</mat-toolbar>
  <div class="mat-elevation-z8">
    <mat-card-content>
      <div class="container">
        <form [formGroup]="form" class="min-width">

            <mat-form-field class="full-width">
              <mat-label>Identidade</mat-label>
              <input matInput placeholder="Identidade" formControlName="identidade" [imask]="{mask: '000.000.000-0'}"/>

              <mat-error *ngIf="form.get('identidade')?.invalid">{{errorMessage("identidade")}}</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-label>Nome completo</mat-label>
              <input matInput placeholder="Nome completo" formControlName="nome">
              <mat-error *ngIf="form.get('nome')?.invalid">{{errorMessage("nome")}}</mat-error>
            </mat-form-field>

            <mat-form-field  class="full-width">
              <mat-label>Nome de guerra</mat-label>
              <input matInput placeholder="Nome de guerra" formControlName="nomeGuerra">
              <mat-error *ngIf="form.get('nomeGuerra')?.invalid">{{errorMessage("nomeGuerra")}}</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-label>Posto ou garduação</mat-label>
              <mat-select formControlName="postoGraduacao">
                <mat-option value="null">None</mat-option>

                <mat-option *ngFor="let posto of postos" [value]="posto.viewValue">
                  <img [src]="posto.imageUrl" alt="{{ posto.viewValue }}" style="width: 24px; height: 45px; margin-right: 8px;">
                  {{ posto.viewValue }}
                </mat-option>
                <mat-error *ngIf="form.get('postoGraduacao')?.invalid">{{errorMessage("postoGraduacao")}}</mat-error>
            </mat-select>
            </mat-form-field>

             <!-- <mat-form-field class="full-width">
              <mat-label>Assessoria</mat-label>
              <mat-select formControlName="assessoria" [compareWith]="compareAssessoria">
                <mat-option value="null">None</mat-option>
                <mat-option  *ngFor="let assessoria of assessorias" [value]="assessoria">
                  {{ assessoria.sigla }}</mat-option>
              </mat-select>
              <mat-error *ngIf="form.get('assessoria')?.invalid">{{errorMessage("assessoria")}}</mat-error>
            </mat-form-field> -->

            <mat-form-field class="full-width">
              <mat-label>Assessoria</mat-label>
              <mat-select formControlName="assessoria" (selectionChange)="onAssessoriaChange($event.value)">
                <mat-option *ngFor="let assessoria of assessorias" [value]="assessoria">
                  {{ assessoria.sigla }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="full-width" *ngIf="assessoriasFilhas.length > 0">
              <mat-label>Assessoria Filha</mat-label>
              <mat-select formControlName="assessoria">
                <mat-option *ngFor="let filha of assessoriasFilhas" [value]="filha">
                  {{ filha.sigla }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <!-- <mat-form-field class="full-width">
              <mat-label>Assessoria</mat-label>
              <mat-select formControlName="assessoria" [compareWith]="compareAssessoria">
                <mat-option value="null">None</mat-option>
                <mat-option  *ngFor="let assessoria of assessorias" [value]="assessoria">
                  {{ assessoria.sigla }}</mat-option>
              </mat-select>
              <mat-error *ngIf="form.get('assessoria')?.invalid">{{errorMessage("assessoria")}}</mat-error>
            </mat-form-field> -->

            <mat-form-field class="full-width">
              <mat-label>Antiguidade</mat-label>
              <input matInput placeholder="Antiguidade" formControlName="antiguidade">
              <mat-error *ngIf="form.get('antiguidade')?.invalid">{{errorMessage("antiguidade")}}</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-label>Tipo de acesso</mat-label>
              <mat-select formControlName="tipoAcesso">
                <mat-option value="null">None</mat-option>
              <mat-option *ngFor="let tipoAcesso of acessos " [value]="tipoAcesso.viewValue">{{ tipoAcesso.viewValue }}</mat-option>
              <mat-error *ngIf="form.get('tipoAcesso')?.invalid">{{errorMessage("tipoAcesso")}}</mat-error>
            </mat-select>
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-label>Ramal</mat-label>
              <input matInput placeholder="Ramal" formControlName="ramal"  [imask]="{mask: '810 - 0000'}"/>
              <mat-error *ngIf="form.get('ramal')?.invalid">{{errorMessage("ramal")}}</mat-error>
            </mat-form-field>

            <mat-form-field class="metade-full-width-foto">
              <mat-label>Foto</mat-label>
              <!-- Campo de texto (somente leitura) que mostra o caminho da imagem -->
              <input matInput placeholder="Foto">
              <!-- Exibição da imagem -->
              <img *ngIf="url" [src]="url" alt="Foto da pessoa">
              <br>
              <!-- Input para seleção de nova foto -->
              <input type="file" (change)="upload($event)">
              <mat-error *ngIf="form.get('caminho')?.invalid">{{errorMessage("caminho")}}</mat-error>
            </mat-form-field>

            <mat-label class="label-radio"><strong>Acesso:</strong></mat-label>

            <mat-radio-group formControlName="acesso">
              <mat-radio-button [value]="true">Liberado</mat-radio-button>
              <mat-radio-button [value]="false">Bloqueado</mat-radio-button>
            </mat-radio-group>


        </form>
    </div>
  </mat-card-content>

  <mat-card-actions class="buttons">
    <button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
    <button mat-raised-button (click)="onCancel()">Cancelar</button>
  </mat-card-actions>

</div>

</mat-card>
