<mat-card>
  <mat-toolbar color="primary">Cadastrar ou atualizar um Usuario</mat-toolbar>
  <div class="mat-elevation-z8">
    <mat-card-content>
      <div class="container">
        <form [formGroup]="form" class="min-width">

          <mat-form-field class="full-width">
            <mat-label>Nome do usuário</mat-label>
            <input matInput placeholder="Usuário" formControlName="username"/>

            @if (form.get('username')?.invalid) {
              <mat-error>{{errorMessage("username")}}</mat-error>
            }
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Senha</mat-label>
            <input matInput type="password" placeholder="Senha" formControlName="password">
            @if (form.get('password')?.invalid) {
              <mat-error>{{errorMessage("password")}}</mat-error>
            }
          </mat-form-field>



          <mat-form-field class="full-width">
            <mat-label>Tipo de acesso</mat-label>
            <mat-select formControlName="role">
              <mat-option value="null">None</mat-option>
              @for (tipoAcesso of tipoAcessos ; track tipoAcesso) {
                <mat-option [value]="tipoAcesso.value">{{ tipoAcesso.value }}</mat-option>
              }
              @if (form.get('role')?.invalid) {

              }

            </mat-select>
          </mat-form-field>

            <mat-label class="label-radio"><strong>Status:</strong></mat-label>

            <mat-radio-group formControlName="liberado">
              <mat-radio-button [value]="true">Liberado</mat-radio-button>
              <mat-radio-button [value]="false">Bloqueado</mat-radio-button>
            </mat-radio-group>


          </form>
        </div>
      </mat-card-content>

      <mat-card-actions class="buttons">
        <button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
        <button mat-raised-button (click)="onCancel()">Cancelar</button>
      </mat-card-actions>

    </div>

  </mat-card>
