.form-asse {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form-asse-full-width {
  width: 100%;
}


mat-toolbar{
  width: 99%;
  margin: 10px;
}

form {
  width: 99%;
  margin: 2px, 0px, 0px, 2px;

}
