mat-table {
  max-width: 100%;
  overflow: auto;
  max-height: 600px;
  margin: auto;
  background-color: rgb(248, 243, 238);

}

.action-column {
  flex: 0 0 115px;
}

.action-column-header {
  flex: 0 0 95px;
}
