<mat-card class="modern-card">
  <mat-table [dataSource]="pessoas" class="modern-table">

    <!-- Foto -->
    <ng-container matColumnDef="caminho">
      <mat-header-cell *matHeaderCellDef class="column-header">Foto</mat-header-cell>
      <mat-cell *matCellDef="let pessoa" class="column-foto">
        @if (pessoa.caminho) {
          <img [src]="pessoa.caminho" (error)="onImageError($event)" alt="Foto de {{pessoa.identidade}}"
            class="img-profile" />
        }
      </mat-cell>
    </ng-container>

    <!-- Identidade -->
    <ng-container matColumnDef="identidade">
      <mat-header-cell *matHeaderCellDef class="column-header">Identidade</mat-header-cell>
      <mat-cell *matCellDef="let pessoa"> {{ pessoa.identidade }} </mat-cell>
    </ng-container>

    <!-- Nome -->
    <ng-container matColumnDef="nome">
      <mat-header-cell *matHeaderCellDef class="column-header">Nome</mat-header-cell>
      <mat-cell *matCellDef="let pessoa"> {{ pessoa.nome }} </mat-cell>
    </ng-container>

    <!-- Posto/Graduação -->
    <ng-container matColumnDef="postoGraduacao">
      <mat-header-cell *matHeaderCellDef class="column-header">Posto/Graduação</mat-header-cell>
      <mat-cell *matCellDef="let pessoa">
        <div class="posto-container">
          <img [src]="getPostoImage(pessoa.postoGraduacao)" alt="Posto/Graduação" class="img-patente">
          <span class="posto-text">{{ pessoa.postoGraduacao }}</span>
        </div>
      </mat-cell>
    </ng-container>

    <!-- Nome de Guerra -->
    <ng-container matColumnDef="nomeGuerra">
      <mat-header-cell *matHeaderCellDef class="column-header">Nome de Guerra</mat-header-cell>
      <mat-cell *matCellDef="let pessoa"> {{ pessoa.nomeGuerra }} </mat-cell>
    </ng-container>

    <!-- Assessoria -->
    <ng-container matColumnDef="assessoria">
      <mat-header-cell *matHeaderCellDef class="column-header">Assessoria</mat-header-cell>
      <mat-cell *matCellDef="let pessoa"> {{ pessoa.assessoria.sigla }} </mat-cell>
    </ng-container>

    <!-- Ramal -->
    <ng-container matColumnDef="ramal">
      <mat-header-cell *matHeaderCellDef class="column-header">Ramal</mat-header-cell>
      <mat-cell *matCellDef="let pessoa"> {{ pessoa.ramal }} </mat-cell>
    </ng-container>

    <!-- Ações -->
    <ng-container matColumnDef="acoes">
      <mat-header-cell *matHeaderCellDef class="column-header action-header">
        <button *ngIf="userHasPermission" class="button-add" (click)="onAdd()" mat-icon-button color="primary">
          <mat-icon>add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let pessoa" class="action-column">
        <button *ngIf="userHasPermission" (click)="onEdit(pessoa)" mat-icon-button color="primary">
          <mat-icon>edit</mat-icon>
        </button>

        <button *ngIf="userHasPermission" (click)="onDelete(pessoa)" mat-icon-button color="warn">
          <mat-icon>delete</mat-icon>
        </button>

        <!-- Botão para abrir o modal -->
        <button *ngIf="userHasPermission" (click)="openModal(pessoa)" mat-icon-button color="accent">
          <mat-icon>info</mat-icon>
        </button>

      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</mat-card>
