mat-table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

mat-cell, mat-header-cell {
  text-align: center;
  justify-content: center;
}

a {
  color: #536dfe;
  cursor: pointer;
}


.posto-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-patente {
  text-align: right;
  width: 24px;
  height: 45;

}



/* Define o tamanho fixo da imagem */
.img-fixed-size {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50px; /* Largura desejada */
  height: 70px; /* Altura desejada */
  object-fit: cover; /* Garante que a imagem preencha o espaço mantendo a proporção */
  border-radius: 5px; /* Opcional: bordas arredondadas */
}
