<mat-card>
  <mat-toolbar color="primary">Agendamentos para o Auditório do DECEx

    <div class="campo-pesquisa">

      <mat-form-field class="input-pesquisa-assessoria">
        <mat-label>Pesquise pela Assessoria</mat-label>
        <mat-select (selectionChange)="onSearchByAssessoria($event.value)">

            <input class="input-pesquisa" (input)="filterSelectDeAssessorias($event)"
                   placeholder="Digite ou selecione para filtrar"/>
          <mat-option [value]="">
            Nenhum
          </mat-option>
          @for (assessoria of assessorias; track assessoria) {
            <mat-option [value]="assessoria.sigla">
              {{ assessoria.sigla }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field class="input-pesquisa-data">
        <mat-label>Data de Início</mat-label>
        <input matInput [matDatepicker]="pickerInicio" (dateChange)="onSearchByDate('inicio', $event.value)" (input)="onSearchByDate('inicio', null)" />
        <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
        <mat-datepicker #pickerInicio></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="input-pesquisa-data">
        <mat-label>Data de Término</mat-label>
        <input matInput [matDatepicker]="pickerFim" (dateChange)="onSearchByDate('fim', $event.value)" (input)="onSearchByDate('inicio', null)" />
        <mat-datepicker-toggle matSuffix [for]="pickerFim"></mat-datepicker-toggle>
        <mat-datepicker #pickerFim></mat-datepicker>
      </mat-form-field>

    </div>

  </mat-toolbar>

  <div class="mat-elevation-z8">
      @if (agendamentos2$ | async; as agendamentos) {
      <app-agendamentos-lista
        [agendamentos]="agendamentos.agendamentos"
        (add)="onAdd()"
        (edit)="onEdit($event)"
        (delete)="onRemove($event)"
      ></app-agendamentos-lista>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 15]"
        showFirstLastButtons
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [length]="agendamentos.totalElements"
        (page)="refresh2($event)"
        aria-label="Selecione a página de agendamento">
      </mat-paginator>


  } @else {
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  }

  <ng-template #loading>
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>
</mat-card>
