
<mat-card class="login-container">
  <div class="login-content">
    <!-- Imagem à esquerda -->

    <div class="login-image">
      <mat-label class="text-img">SISGEPESS</mat-label>
      <br>
      <h5>Sistema de Gestão de Pessoal</h5>
      <div></div>
      <img src="assets/image/decex-logo.png" alt="DECEx">
    </div>

    <!-- Formulário de login -->
    <div class="login-form">
      <h2>Digite as credenciais:</h2>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Usuário</mat-label>
        <input matInput placeholder="Digite seu usuário" [(ngModel)]="login.username" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Senha</mat-label>
        <input matInput placeholder="Digite sua senha" [type]="hide ? 'password' : 'text'" [(ngModel)]="login.password" />
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Toggle password visibility'">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <button mat-raised-button color="primary" class="full-width" (click)="logar()">Logar</button>
    </div>
  </div>
</mat-card>
