/* #1# Aqui inicia o bloco de estilos do cartão onde está inserido  o calendário */
.calendar-card {
  display: flex;
  flex-direction: column;
  height: 100vh; /* O cartão ocupa toda a altura da viewport */
  overflow: hidden; /* Garante que o conteúdo não transborde fora do cartão */
  border-radius: 10px; /* Borda arredondada */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para dar um efeito de profundidade */
}
/* Aqui finaliza o bloco de estilos do cartão onde está inserido  o calendário */
/*########################################################################################*/

/* #2# Aqui inicia o bloco de estilos que exibe a mensagem para selecionar uma data + os botões para saltar entre os meses */
.calendar-headline {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px; /* Ajuste o padding conforme necessário */
  border-radius: 5px;
  background-color: #d32f2f;
  -webkit-text-stroke-width: 0.3px; /*Insere uma borda no texto e aplica o tamanho dessa borda*/
  -webkit-text-stroke-color: rgb(190, 151, 41); /*Insere uma cor na borda do texto*/
  font-size: 20px;
  // font-weight: bold;
  color: #ffffff;/* Cor do texto */
}
/* #2# Aqui finaliza o bloco de estilos que exibe a mensagem para selecionar uma data + os botões para saltar entre os meses */
/*########################################################################################*/

/* #3# Os dois blocos de estilos a seguir trabalha o espaço que exibe a mensagem para selecionar uma data alinhando-o */
.calendar-headline-controls {
  display: flex;
}
.schedule {
  padding: 10px; /* Ajuste o padding conforme necessário */
  overflow-y: auto; /* Permite rolagem se o conteúdo for maior que o espaço disponível */
}
/*  *FIM* Os dois blocos de estilos a seguir trabalha o espaço que exibe a mensagem para selecionar uma data alinhando-o */
/*########################################################################################*/

/* #4# Aqui inicia o bloco de estilo, onde são exibidos os para saltar ou retroceder os meses */
.calendar-headline-control {
  cursor: pointer;
  color: white;
}
/* Aqui finaliza o bloco de estilo onde são exibidos os para saltar ou retroceder os meses */
/*###################################################################*/

/* #5# Aqui inicia o bloco de estilos com cabeçalho do calendário mostrando os dias da semana */
.calendar-weeks-grid {
  display: grid;
  background-color: rgb(193, 145, 23);
  grid-template-columns: repeat(7, 1fr);
  border-radius: 5px;
  font-size: 14px;
  text-decoration: double;
  padding-left: 10px;
  color: rgb(237, 229, 229);
}
/* Aqui finaliza o bloco de estilos com cabeçalho do calendário mostrando os dias da semana */
/*########################################################################################*/

/* #6# Aqui inicia o bloco de estilos para a configuração do calendário */
.calendar-container {
  display: flex;
  flex-direction: column;
  height: 95vh; /* O cartão ocupa toda a altura da viewport */
  flex-grow: 1; /* Permite que o calendário use o espaço restante */
  overflow: auto; /* Adiciona barras de rolagem, se necessário */
  max-height: 100%; /* Limita a altura ao espaço disponível */
}
/* Aqui finaliza o bloco de estilos para a configuração do calendário */
/*########################################################################################*/


/* #7# Aqui inicia o bloco de estilos com os espaços das datas */
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* Garante que os dias da semana sejam distribuídos igualmente */
  border-top: 1px solid rgb(190, 190, 190);
  border-left: 1px solid rgb(190, 190, 190);
  gap: 5px; /* Espaçamento entre os dias */
}
/* Aqui finaliza o bloco de estilos com os espaços das datas */
/*########################################################################################*/

/* #8# Aqui inicia o bloco de estilos com as grades das datas desenhadas */
.calendar-grid-cell {
  position: relative; /* Permite o uso de posicionamento absoluto para os filhos */
  padding: 5px;

  /* Garante que a célula tenha um tamanho fixo baseado no grid */
  min-width: 170px; /* Largura mínima para cada célula */
  min-height: 150px; /* Altura mínima para cada célula */
  box-sizing: border-box; /* Inclui padding e border no tamanho total */

  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinha o conteúdo ao topo */
  justify-content: flex-start; /* Alinha o conteúdo à esquerda */
  overflow: hidden; /* Esconde conteúdo que ultrapasse os limites da célula */
  overflow-y: auto; /* Permite que as células rolem se houver muitos eventos */

  scrollbar-width: thin; /* Estiliza a barra de rolagem */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Adiciona uma transição suave */
  border-bottom: 1px solid rgb(190, 190, 190);
  border-right: 1px solid rgb(190, 190, 190);
  cursor: pointer;
}

/*########################################################################################*/

/* #9# Destaca o espaço no clendário, ao passar o mouse*/
.calendar-grid-cell:hover {
  background-color: #e0f7fa; /* Altere a cor de fundo para realçar */
  border: 1px solid #26c6da; /* Altere a cor da borda */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adicione uma sombra para um efeito de elevação */
}
/*################################################################*/

/* #10# Aqui inicia o bloco de estilo para os números das datas */
.calendar-grid-cell-day-number {
  position: sticky;
  top: 5px; /* Distância do topo da célula */
  left: 5px; /* Distância da esquerda da célula */
  font-size: 12px; /* Ajusta o tamanho da fonte */
  font-weight: bold; /* Destaca o número */
}
/* Aqui finaliza o bloco de estilo para os números das datas */
/*########################################################################################*/

/* #11# Aqui inicia o bloco de estilo para destacar o dia atual */
.calendar-grid-cell-today {
  background-color: #f0e5b4; /* Altere a cor de fundo para realçar */
  border: 1px solid #26c6da; /* Altere a cor da borda */
  color: #1d1b1b;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adicione uma sombra para um efeito de elevação */
}
/*  Aqui finaliza o bloco de estilo para destacar o dia atual */
/*########################################################################################*/

/* #12# Aqui inicia o bloco de estilo para diferenciar as datas do mês anterior e posterior */
.calendar-grid-cell-inactive {
  color: #999999;
}
/* Aqui finaliza o bloco de estilo para diferenciar as datas do mês anterior e posterior */
/*########################################################################################*/


/* #13# Aqui inicia o bloco de estilo, onde são exibidos os agendamentos */
.calendar-event {
  display: flex; /* Alinha os itens em uma linha */
  align-items: center; /* Alinha verticalmente ao centro */
  padding: 4px; /* Espaçamento interno */
  background-color: rgba(0, 123, 255, 0.1);
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
  color: white; /* Cor do texto para contraste */
  border-radius: 4px; /* Bordas arredondadas */
  gap: 8px; /* Espaçamento entre o texto e o ícone */
  cursor: move;
  z-index: 10;
  position: relative;
  max-height: 20px;
  margin-bottom: 2px;

}
/* Aqui finaliza o bloco de estilo onde são exibidos os agendamentos */
/*###################################################################*/




