<mat-card>
  <mat-toolbar color="primary">Cadastrar ou atualizar uma Pessoa</mat-toolbar>

    <mat-card-content>
      <div class="container">
        <form [formGroup]="form">

            <mat-form-field class="full-width">
              <mat-label>Identidade</mat-label>
              <input matInput placeholder="Identidade" formControlName="identidade">
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-label>Nome completo</mat-label>
              <input matInput placeholder="Nome completo" formControlName="nome">
            </mat-form-field>

            <mat-form-field  class="full-width">
              <mat-label>Nome de guerra</mat-label>
              <input matInput placeholder="Nome de guerra" formControlName="nomeGuerra">
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-label>Posto ou garduação</mat-label>
              <input matInput placeholder="Posto ou garduação" formControlName="postoGraduacao">
            </mat-form-field>


            <mat-form-field class="full-width">
              <mat-label>Assessoria</mat-label>
              <mat-select formControlName="assessoria">
                <mat-option value="null">None</mat-option>
                <mat-option value= {1} >DTI</mat-option>

              </mat-select>
            </mat-form-field>


            <mat-form-field class="full-width">
              <mat-label>Tipo de acesso</mat-label>
              <input matInput placeholder="Tipo de acesso" formControlName="tipoAcesso">
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-label>Ramal</mat-label>
              <input matInput placeholder="Ramal" formControlName="ramal">
            </mat-form-field>


            <mat-form-field class="full-width">
              <mat-label>Foto</mat-label>
              <input matInput placeholder="Foto" formControlName="foto">
            </mat-form-field>


            <label style="padding: 10px; "><strong>Acesso:</strong></label>

            <mat-radio-group formControlName="liberado">
              <mat-radio-button value="true">Liberado</mat-radio-button>
              <mat-radio-button value="false">Bloqueado</mat-radio-button>
            </mat-radio-group>


        </form>
    </div>
  </mat-card-content>

<mat-card-actions class="buttons">
  <button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
  <button mat-raised-button (click)="onCancel()">Cancelar</button>
</mat-card-actions>
</mat-card>
