<div class="sidenav-header">
  <img src="assets/image/decex-logo.png" alt="DECEx">
  <div class="header-text">
    <h2>DECEx</h2>
    <h2>Departamento de Educação e<br> Cultura do Exército</h2>
</div>
<!-- Linha de separação -->
<p></p>
<div class="divider"></div>
<p></p>
<mat-nav-list >
  <h2 matSubheader style="border-radius: 10px; background-color: antiquewhite; ">{{ 'LISTAR'  }}</h2>
  <mat-list-item>
    <a class="menu-item" (click)="navigateTo('pessoas')" routerLinkActive="active-link">
      <mat-icon class="menu-icon">list</mat-icon>
      <span class="menu-text">Pessoas</span>
    </a>
  </mat-list-item>

  <mat-list-item>
    <a class="menu-item" (click)="navigateTo('inativas')" routerLinkActive="active-link">
      <mat-icon class="menu-icon">list</mat-icon>
      <span class="menu-text">Pessoas Inativadas</span>
    </a>
  </mat-list-item>

  <mat-list-item>
    <a class="menu-item" (click)="navigateTo('usuarios')" routerLinkActive="active-link">
      <mat-icon class="menu-icon">list</mat-icon>
      <span class="menu-text">Usuários</span>
    </a>
  </mat-list-item>

  <mat-list-item>
    <a class="menu-item" (click)="navigateTo('usuarios/inativos')" routerLinkActive="active-link">
      <mat-icon class="menu-icon">list</mat-icon>
      <span class="menu-text">Usuários Inativados</span>
    </a>
  </mat-list-item>

  <mat-list-item>
    <a class="menu-item" (click)="navigateTo('assessorias')" routerLinkActive="active-link">
      <mat-icon class="menu-icon">list</mat-icon>
      <span class="menu-text">Assessorias</span>
    </a>
  </mat-list-item>

  <mat-list-item>
    <a class="menu-item" (click)="navigateTo('auditorios')" routerLinkActive="active-link">
      <mat-icon class="menu-icon">list</mat-icon>
      <span class="menu-text">Agendamentos Auditório</span>
    </a>
  </mat-list-item>

  <mat-list-item>
    <a class="menu-item" (click)="navigateTo('videoConferencias')" routerLinkActive="active-link">
      <mat-icon class="menu-icon">list</mat-icon>
      <span class="menu-text">Agendamentos Videoconferência</span>
    </a>
  </mat-list-item>
<!-- Linha de separação -->
<p></p>
<div class="divider"></div>
<p></p>

<mat-nav-list >
  <h2 matSubheader style=" border-radius: 10px; background-color: antiquewhite; ">{{ 'CADASTRAR'  }}</h2>

  <mat-list-item>
    <a class="menu-item" (click)="navigateTo('pessoas/new')" routerLinkActive="active-link">
      <mat-icon class="menu-icon">save</mat-icon>
      <span class="menu-text">Pessoas</span>
    </a>
  </mat-list-item>

  <mat-list-item>
    <a class="menu-item" (click)="navigateTo('usuarios/new')" routerLinkActive="active-link">
      <mat-icon class="menu-icon">save</mat-icon>
      <span class="menu-text">Usuários</span>
    </a>
  </mat-list-item>

  <mat-list-item>
    <a class="menu-item" (click)="openChangePasswordDialog()" routerLinkActive="active-link">
      <mat-icon class="menu-icon">input</mat-icon>
      <span class="menu-text">Nova senha</span>
    </a>
  </mat-list-item>

  <mat-list-item>
    <a class="menu-item" (click)="navigateTo('assessorias/new')" routerLinkActive="active-link">
      <mat-icon class="menu-icon">save</mat-icon>
      <span class="menu-text">Assessorias</span>
    </a>
  </mat-list-item>

  <mat-list-item>
    <a class="menu-item" (click)="navigateTo('auditorios/new')" routerLinkActive="active-link">
      <mat-icon class="menu-icon">schedule</mat-icon>
      <span class="menu-text">Agendamentos Auditório</span>
    </a>
  </mat-list-item>

  <mat-list-item>
    <a class="menu-item" (click)="navigateTo('videoConferencias/new')" routerLinkActive="active-link">
      <mat-icon class="menu-icon">schedule</mat-icon>
      <span class="menu-text">Agendamentos Videoconferência</span>
    </a>
  </mat-list-item>
</mat-nav-list>

<!-- Linha de separação -->
<div class="divider"></div>
<p></p>
<p style="font-weight: bold;"> Desenvolvido pelo 2º Sgt QE - Vanilton </p>
<!-- Rodapé -->
<footer class="footer">
  <p> © 2024 Departamento de Educação e Cultura do Exército - DECEx </p>
</footer>
