mat-card {
  max-width: 95%;

  margin: 0em auto;
  align-content: center;

}

.calendar {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  width: 90vw;  /* Ocupa 90% da largura da tela */
  height: 90vh; /* Ocupa 90% da altura da tela */
  margin: 0;     /* Remove a margem */
  padding-left: 20px;    /* insere 20px de padding a esquerda */
}



.calendar-weeks-grid {
  display: grid;
  background-color: rgb(193, 145, 23);
  grid-template-columns: repeat(7, 1fr);
  border-radius: 5px;
  font-size: 14px;
  text-decoration: double;
  padding-left: 10px;
  color: rgb(237, 229, 229);
}

.calendar-grid {
  display: grid;
  background-color: rgb(248, 246, 244);
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr); /* Define 5 linhas */
  flex-grow: 1; /* Permite que a grade cresça para ocupar o espaço */
  border-top: 1px solid rgb(190, 190, 190);
  border-left: 1px solid rgb(190, 190, 190);
}

.calendar-grid-cell {
  position: relative; /* Permite o uso de posicionamento absoluto para os filhos */
  padding: 5px;
  display: flex;
  align-items: flex-start; /* Alinha o conteúdo ao topo */
  justify-content: flex-start; /* Alinha o conteúdo à esquerda */
  border-bottom: 1px solid rgb(190, 190, 190);
  border-right: 1px solid rgb(190, 190, 190);
  cursor: pointer;
}

.calendar-grid-cell-day-number {
  position: sticky;
  top: 5px; /* Distância do topo da célula */
  left: 5px; /* Distância da esquerda da célula */
  font-size: 12px; /* Ajusta o tamanho da fonte */
  font-weight: bold; /* Destaca o número */
}


.calendar-grid-cell-today {
  background-color: rgba(0, 123, 255, 0.2); /* Cor de fundo sutil (azul claro com transparência) */
  border: 1px solid #007bff; /* Borda sutil */
  color: #007bff; /* Cor do texto */
}

.calendar-grid-cell-today:hover {
  background-color: rgba(245, 248, 250, 0.3); /* Realce levemente mais forte ao passar o mouse */
}


.calendar-grid-cell:hover {
  background: #d0d2db;
}

.calendar-grid-cell-active {
  background: #9ba3bf;
}

.calendar-grid-cell-inactive {
  color: #999999;
}

.schedule {
  padding: 10px; /* Ajuste o padding conforme necessário */
  overflow-y: auto; /* Permite rolagem se o conteúdo for maior que o espaço disponível */
}

.calendar-headline {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px; /* Ajuste o padding conforme necessário */
  border-radius: 5px;
  background-color: #efd863;
  font-size: 18px;
  font-weight: bold;
  color: #469bfd;
}

.calendar-headline-controls {
  display: flex;
}

.calendar-headline-control {
  cursor: pointer;
}

.calendar-event {
  background-color: rgba(0, 123, 255, 0.1); /* Cor de fundo sutil */
  margin-top: 5px;
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// .calendar-container {
//   display: grid;
//   grid-template-columns: repeat(7, 1fr);
//   gap: 10px;
//   padding: 20px;
// }

.calendar-header {
  display: contents;
}

.calendar-day-header {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.day-number {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.calendar-event {
  position: relative;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  padding: 5px;
  cursor: pointer;
  resize: horizontal;  /* Permite o redimensionamento horizontal */
  overflow: hidden;
  min-width: 100px;  /* Define uma largura mínima correspondente a 1 dia */
  max-width: 150px;  /* Define uma largura mínima correspondente a 1 dia */
}

// .calendar-event::after {
//   content: '';
//   position: absolute;
//   right: 0;
//   top: 0;
//   bottom: 0;
//   width: 5px;
//   background: rgba(0, 0, 0, 0.1);
//   cursor: ew-resize;  /* Estiliza para indicar redimensionamento horizontal */
// }

.calendar-event:hover::after {
  background: rgba(0, 0, 0, 0.2);
}

.calendar-event {
  position: relative;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  cursor: move;
}

.mwl-resizable-handle {
  position: absolute;
  top: 0;
  width: 10px;
  height: 100%;
  background-color: transparent; /* Pode ser mudado para ajudar a visualização */
}

.mwl-resizable-handle-left {
  left: 0;
  cursor: ew-resize;
}

.mwl-resizable-handle-right {
  right: 0;
  cursor: ew-resize;
}

.calendar-event-container {
  position: relative;
  display: block;
  background-color: #f3f3f3;
  padding: 5px;
  cursor: ew-resize; /* Cursor de redimensionamento */
  border: 1px solid #ccc;
}

.calendar-event-container.mwlResizable {
  resize: horizontal;
  overflow: auto;
}
