mat-table {
  max-width: 100%;
  overflow: auto;
  max-height: 600px;
  margin: auto;
  background-color: rgb(248, 243, 238);

}

mat-header-cell, mat-cell {
  text-align: center; /* Centraliza o texto */
  justify-content: center; /* Centraliza o conteúdo flex */
}


/* Define o tamanho fixo da imagem */
.img-fixed-size {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50px; /* Largura desejada */
  height: 70px; /* Altura desejada */
  object-fit: cover; /* Garante que a imagem preencha o espaço mantendo a proporção */
  border-radius: 5px; /* Opcional: bordas arredondadas */
}
