/*Espaço para o Toolbar onde fica o texto do Departamento para todas as páginas*/
mat-toolbar {
  height: auto;
  position: relative;
  z-index: 5;
}

.logo-container {
  border-top-right-radius: 10px;
  padding-left: 10px;
  padding-right: 20px;
  margin-left: 20px;
  display: inline-flex; /* Flexbox para o conteúdo em linha */
  align-items: center; /* Centraliza verticalmente */
  gap: 10px; /* Espaço entre a imagem e o texto */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Sombra */
  background: linear-gradient(
    to bottom,
    rgb(72, 61, 216),
    rgb(50, 40, 170)
  ); /* Gradiente */
  color: white; /* Texto para contraste */
}

.logo-logout {
  height: 50px; /* Ajuste a altura conforme necessário */
  width: auto; /* Mantém a proporção da imagem */
  margin-top: 5px; /* Ajuste conforme necessário */
}

.logo-text {
  display: flex;
  align-items: center; /* Garante alinhamento vertical central */
  font-size: 20px; /* Ajuste do tamanho da fonte */
}

.button-menu {/* Botão do menu lateral*/

  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  padding-left: 15px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Sombra */
  background: linear-gradient(
    to bottom,
    rgb(49, 177, 113),
    rgb(39, 119, 29)
  ); /* Gradiente */

  color: white; /* Texto para contraste */
  font-weight: bold; /* Deixa o texto mais destacado */
}

.button-logout {/* Botão do logout*/
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;

  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  padding-left: 15px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Sombra */
  background: linear-gradient(
    to bottom,
    rgb(216, 61, 74),
    rgb(170, 40, 40)
  ); /* Gradiente */

  color: white; /* Texto para contraste */
  font-weight: bold; /* Deixa o texto mais destacado */
}

mat-sidenav-container {
  height: calc(180vh - 85vh);
}

mat-sidenav {
  width: 300px;

}

.active-link {
  font-weight: bold;
  color: #3f51b5;
}

.logout {
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
}

