<mat-toolbar class="mat-elevation-z3" color="primary">

  <mat-toolbar-row>
    <button  mat-icon-button (click)="opened=!opened"><mat-icon>menu</mat-icon></button>
    <img class="logo-logout"  src="assets/image/decex-logo.png" alt="DECEx">



    <span> Deparatamento de Educação e Cultura do Exército - DECEx </span>



      <button  mat-icon-button class="logout" (click)="logout()"><mat-icon>logout</mat-icon></button>
  </mat-toolbar-row>

</mat-toolbar>

<mat-sidenav-container >
  <mat-sidenav  [(opened)]="opened" mode="side" [style.width]="'370px'">
    <app-custom-sidenav/>


  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

